In [1]:
import numpy as np
import pandas as pd

In [2]:
g1 = pd.DataFrame(np.random.randint(80,100, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g2 = pd.DataFrame(np.random.randint(70,79, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g3 = pd.DataFrame(np.random.randint(60,69, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g4 = pd.DataFrame(np.random.randint(50,59, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g5 = pd.DataFrame(np.random.randint(40,49, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g6 = pd.DataFrame(np.random.randint(33,39, size=(800000,5)), columns = ["s1",'s2','s3','s4','s5'])
g7 = pd.DataFrame(np.random.randint(0,32, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])

df = pd.concat([g1,g2,g3,g4,g5,g6,g7])
print(len(df))
df = df.drop_duplicates()# get all unique records
print(len(df))
df.head()

1040000
203821

   s1  s2  s3  s4  s5
0  95  81  84  98  81
1  87  95  86  83  98
2  96  86  82  81  90
3  90  96  92  98  83
4  87  80  85  80  86

In [3]:
df.tail()

       s1  s2  s3  s4  s5
39995   4   5  25  27   3
39996  13   4  14  16   9
39997   8  17  30  29  12
39998   3  17  11   1  25
39999   6  25  28   8   3

# Symbolic AI

In [38]:
def grade(sb1,sb2, sb3, sb4, sb5):
    total = 500
    obtain = sb1 + sb2 + sb3 + sb4 + sb5
    per = (obtain / total) * 100
    
    grade = None
    
    if per >= 80:
        grade = "A+"
    elif per >= 70:
        grade = "A"
    elif per >= 60:
        grade = "B"
    elif per >= 50:
        grade = "C"
    elif per >= 40:
        grade = "D"
    elif per >= 33:
        grade = "E"
    else:
        grade = "Fail"
        
    return total, obtain , per , grade

# df[["Total","Obtained","Percentage","Grade"]] = df[["s1","s2","s3","s4","s5"]].apply(lambda x:grade(*x), axis=1, result_type='expand')
df[["Total","Obtained","Percentage","Grade"]] = df[["s1","s2","s3","s4","s5"]].apply(lambda x:grade(x[0],x[1],x[2],x[3],x[4]), axis=1, result_type='expand')
df

       s1  s2  s3  s4  s5  Total  Obtained  Percentage Grade
0      95  81  84  98  81    500       439        87.8    A+
1      87  95  86  83  98    500       449        89.8    A+
2      96  86  82  81  90    500       435        87.0    A+
3      90  96  92  98  83    500       459        91.8    A+
4      87  80  85  80  86    500       418        83.6    A+
...    ..  ..  ..  ..  ..    ...       ...         ...   ...
39995   4   5  25  27   3    500        64        12.8  Fail
39996  13   4  14  16   9    500        56        11.2  Fail
39997   8  17  30  29  12    500        96        19.2  Fail
39998   3  17  11   1  25    500        57        11.4  Fail
39999   6  25  28   8   3    500        70        14.0  Fail

[203821 rows x 9 columns]

In [5]:
df.Grade.value_counts()

Fail    39986
A+      39777
B       29108
A       29107
D       29084
C       28983
E        7776
Name: Grade, dtype: int64

In [6]:
df1 = pd.DataFrame()
test = pd.DataFrame()
for i in df.Grade.unique():
    df1 = pd.concat([df1,df[df.Grade==i].head(7776)])
    test = pd.concat([test,df[df.Grade==i].head(100)])
print(len(df1))
print(len(test))

54432
700

# Create data for ML and DL

In [7]:
data = df1[["s1","s2","s3",'s4','s5','Grade']].copy()
data = data.sample(frac=1)
data

      s1  s2  s3  s4  s5 Grade
839   62  67  61  61  63     B
1482  64  61  62  63  62     B
2231   8   4   1  12  17  Fail
2550  71  74  74  71  77     A
6485  34  37  37  38  35     E
...   ..  ..  ..  ..  ..   ...
4963  56  51  57  56  57     C
1017  16  18   3  20  18  Fail
3279  61  68  61  65  61     B
6343  44  48  45  44  42     D
1862  73  72  77  71  77     A

[54432 rows x 6 columns]

In [8]:
X = data.loc[:,"s1":"s5"]
X

      s1  s2  s3  s4  s5
839   62  67  61  61  63
1482  64  61  62  63  62
2231   8   4   1  12  17
2550  71  74  74  71  77
6485  34  37  37  38  35
...   ..  ..  ..  ..  ..
4963  56  51  57  56  57
1017  16  18   3  20  18
3279  61  68  61  65  61
6343  44  48  45  44  42
1862  73  72  77  71  77

[54432 rows x 5 columns]

In [11]:
Y = data['Grade']
Y

839        B
1482       B
2231    Fail
2550       A
6485       E
        ...
4963       C
1017    Fail
3279       B
6343       D
1862       A
Name: Grade, Length: 54432, dtype: object

# Why we apply one-hot-encode on multiclass classfication output

In [12]:
Y1 = pd.get_dummies(Y)
Y1

      A  A+  B  C  D  E  Fail
839   0   0  1  0  0  0     0
1482  0   0  1  0  0  0     0
2231  0   0  0  0  0  0     1
2550  1   0  0  0  0  0     0
6485  0   0  0  0  0  1     0
...  ..  .. .. .. .. ..   ...
4963  0   0  0  1  0  0     0
1017  0   0  0  0  0  0     1
3279  0   0  1  0  0  0     0
6343  0   0  0  0  1  0     0
1862  1   0  0  0  0  0     0

[54432 rows x 7 columns]

In [13]:
Y1.drop_duplicates()

      A  A+  B  C  D  E  Fail
839   0   0  1  0  0  0     0
2231  0   0  0  0  0  0     1
2550  1   0  0  0  0  0     0
6485  0   0  0  0  0  1     0
4740  0   1  0  0  0  0     0
2540  0   0  0  1  0  0     0
2322  0   0  0  0  1  0     0

# Now apply Deep Learning

In [15]:
import tensorflow as tf

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

In [20]:
print(X.head(1).values[0])
print(X.head(1).values[0].shape)

[62 67 61 61 63]
(5,)

In [18]:
X

      s1  s2  s3  s4  s5
839   62  67  61  61  63
1482  64  61  62  63  62
2231   8   4   1  12  17
2550  71  74  74  71  77
6485  34  37  37  38  35
...   ..  ..  ..  ..  ..
4963  56  51  57  56  57
1017  16  18   3  20  18
3279  61  68  61  65  61
6343  44  48  45  44  42
1862  73  72  77  71  77

[54432 rows x 5 columns]

# Multi classification problem

In [21]:
model = Sequential()

#               32  = output should be power 2 value 2,4,8,16,32,......
model.add(Dense(64 , activation='relu' ,input_shape=(5,))) #input layer
model.add(Dense(32, activation='relu')) # hidden layer
model.add(Dense(7, activation='softmax'))# outlayer 7= unique output classes, softmax->7 probility this sum always = 1

In [22]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                384

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 7)                 231

=================================================================
Total params: 2,695
Trainable params: 2,695
Non-trainable params: 0
_________________________________________________________________

# Compilation Steps

In [23]:
model.compile(optimizer=SGD(learning_rate=0.002), 
              loss='categorical_crossentropy',
              metrics=['acc'])

# Now Start Training

In [24]:
model.fit(X,Y1, epochs=80)

Epoch 1/80
1701/1701 [==============================] - 5s 2ms/step - loss: 1.6452 - acc: 0.3018
Epoch 2/80
1701/1701 [==============================] - 3s 2ms/step - loss: 1.4096 - acc: 0.3749
Epoch 3/80
1701/1701 [==============================] - 3s 2ms/step - loss: 1.3297 - acc: 0.4182
Epoch 4/80
1701/1701 [==============================] - 3s 2ms/step - loss: 1.2700 - acc: 0.4723
Epoch 5/80
1701/1701 [==============================] - 3s 2ms/step - loss: 1.2164 - acc: 0.5306
Epoch 6/80
1701/1701 [==============================] - 3s 2ms/step - loss: 1.1579 - acc: 0.5747
Epoch 7/80
1701/1701 [==============================] - 3s 2ms/step - loss: 1.1033 - acc: 0.6027
Epoch 8/80
1701/1701 [==============================] - 3s 2ms/step - loss: 1.0467 - acc: 0.6199
Epoch 9/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.9916 - acc: 0.6442
Epoch 10/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.9407 - acc: 0.6610
Epoch 11/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.8913 - acc: 0.6805
Epoch 12/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.8477 - acc: 0.6982
Epoch 13/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.8084 - acc: 0.7178
Epoch 14/80
1701/1701 [==============================] - 6s 3ms/step - loss: 0.7703 - acc: 0.7324
Epoch 15/80
1701/1701 [==============================] - 5s 3ms/step - loss: 0.7374 - acc: 0.7474
Epoch 16/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.7080 - acc: 0.7625
Epoch 17/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.6812 - acc: 0.7735
Epoch 18/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.6553 - acc: 0.7874
Epoch 19/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.6310 - acc: 0.7994
Epoch 20/80
1701/1701 [==============================] - 6s 3ms/step - loss: 0.6115 - acc: 0.8081
Epoch 21/80
1701/1701 [==============================] - 7s 4ms/step - loss: 0.5902 - acc: 0.8199
Epoch 22/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5734 - acc: 0.8260
Epoch 23/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5592 - acc: 0.8332
Epoch 24/80
1701/1701 [==============================] - 4s 2ms/step - loss: 0.5481 - acc: 0.8337
Epoch 25/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5376 - acc: 0.8402
Epoch 26/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5340 - acc: 0.8377
Epoch 27/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5333 - acc: 0.8363
Epoch 28/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5635 - acc: 0.8122
Epoch 29/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5659 - acc: 0.8074
Epoch 30/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5758 - acc: 0.8072
Epoch 31/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5807 - acc: 0.7987
Epoch 32/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5703 - acc: 0.8031
Epoch 33/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5906 - acc: 0.8049
Epoch 34/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5988 - acc: 0.7788
Epoch 35/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.6195 - acc: 0.7910
Epoch 36/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.6018 - acc: 0.7902
Epoch 37/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5871 - acc: 0.8142
Epoch 38/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.6146 - acc: 0.7894
Epoch 39/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.6235 - acc: 0.7827
Epoch 40/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5741 - acc: 0.7983
Epoch 41/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5917 - acc: 0.7993
Epoch 42/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5921 - acc: 0.8045
Epoch 43/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5854 - acc: 0.8148
Epoch 44/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5821 - acc: 0.8030
Epoch 45/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5540 - acc: 0.8137
Epoch 46/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5800 - acc: 0.8126
Epoch 47/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5797 - acc: 0.8090
Epoch 48/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5732 - acc: 0.8016
Epoch 49/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5450 - acc: 0.8150
Epoch 50/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5859 - acc: 0.8002
Epoch 51/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5704 - acc: 0.8131
Epoch 52/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5642 - acc: 0.8271
Epoch 53/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5487 - acc: 0.8348
Epoch 54/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5104 - acc: 0.8352
Epoch 55/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5403 - acc: 0.8330
Epoch 56/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5439 - acc: 0.8207
Epoch 57/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5228 - acc: 0.8369
Epoch 58/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5477 - acc: 0.8367
Epoch 59/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5309 - acc: 0.8367
Epoch 60/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5310 - acc: 0.8372
Epoch 61/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5306 - acc: 0.8421
Epoch 62/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5190 - acc: 0.8568
Epoch 63/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5337 - acc: 0.8413
Epoch 64/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5251 - acc: 0.8374
Epoch 65/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.4889 - acc: 0.8606
Epoch 66/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5187 - acc: 0.8454
Epoch 67/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5027 - acc: 0.8436
Epoch 68/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.4869 - acc: 0.8609
Epoch 69/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.4900 - acc: 0.8590
Epoch 70/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5336 - acc: 0.8382
Epoch 71/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.4964 - acc: 0.8526
Epoch 72/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5071 - acc: 0.8496
Epoch 73/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.4891 - acc: 0.8507
Epoch 74/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.4776 - acc: 0.8672
Epoch 75/80
1701/1701 [==============================] - 4s 2ms/step - loss: 0.4470 - acc: 0.8609
Epoch 76/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.4863 - acc: 0.8619
Epoch 77/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5140 - acc: 0.8530
Epoch 78/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.5039 - acc: 0.8693
Epoch 79/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.4991 - acc: 0.8558
Epoch 80/80
1701/1701 [==============================] - 3s 2ms/step - loss: 0.4297 - acc: 0.8921

# Now Generate new data for Testing

In [25]:
test[["Total","Obtained","Percentage","Grade"]] = test[["s1","s2","s3","s4","s5"]].apply(lambda x:grade(*x), axis=1, result_type='expand')
test.head()

test_X, test_Y = test.loc[:,"s1":"s5"], pd.get_dummies(test['Grade'])
display(test_X)
display(test_Y)

    s1  s2  s3  s4  s5
0   95  81  84  98  81
1   87  95  86  83  98
2   96  86  82  81  90
3   90  96  92  98  83
4   87  80  85  80  86
..  ..  ..  ..  ..  ..
95  14  13  17  21   6
96  15   6   9  23  11
97   3  21  27   9  31
98  12   5   1  17  27
99   3  11  15  18  27

[700 rows x 5 columns]

    A  A+  B  C  D  E  Fail
0   0   1  0  0  0  0     0
1   0   1  0  0  0  0     0
2   0   1  0  0  0  0     0
3   0   1  0  0  0  0     0
4   0   1  0  0  0  0     0
.. ..  .. .. .. .. ..   ...
95  0   0  0  0  0  0     1
96  0   0  0  0  0  0     1
97  0   0  0  0  0  0     1
98  0   0  0  0  0  0     1
99  0   0  0  0  0  0     1

[700 rows x 7 columns]

# Test on Testing data

In [26]:
model.evaluate(test_X,test_Y)

22/22 [==============================] - 0s 2ms/step - loss: 0.2351 - acc: 0.9929

[0.23511524498462677, 0.9928571581840515]

# prediction with model

In [27]:
Y_predict = model.predict(test_X)
Y_predict[0]

22/22 [==============================] - 0s 1ms/step

array([1.31115641e-09, 1.00000000e+00, 1.41282905e-08, 2.53676052e-10,
       2.66073616e-16, 6.68254706e-35, 5.85441539e-16], dtype=float32)

# apply post processing to get out human readable

In [28]:
np.argmax(Y_predict[0]) # return maximum value index number

1

In [29]:
display(test_Y.head(5))
display(test_Y.columns)
display(test_Y.columns[6])
# display(test_Y.columns[np.argmax(Y_predict[0])])

   A  A+  B  C  D  E  Fail
0  0   1  0  0  0  0     0
1  0   1  0  0  0  0     0
2  0   1  0  0  0  0     0
3  0   1  0  0  0  0     0
4  0   1  0  0  0  0     0

Index(['A', 'A+', 'B', 'C', 'D', 'E', 'Fail'], dtype='object')

'Fail'

In [30]:
labels = ['A', 'A+', 'B', 'C', 'D', 'E', 'Fail']
Y_predict3 = [labels[j] for j in [np.argmax(i) for i in model.predict(test_X)]]
Y_predict3

22/22 [==============================] - 0s 2ms/step

['A+',
 'A+',
 'A+',
 'A+',
 'A',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A+',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A+',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A+',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail']

In [31]:
model.predict(test_X)

22/22 [==============================] - 0s 4ms/step

array([[1.31115641e-09, 1.00000000e+00, 1.41282905e-08, ...,
        2.66073616e-16, 6.68254706e-35, 5.85441539e-16],
       [1.69976101e-06, 9.99996066e-01, 2.23502047e-06, ...,
        3.24715586e-16, 4.75647846e-33, 1.20289160e-19],
       [8.08540572e-05, 9.99900937e-01, 1.80311399e-05, ...,
        1.72319231e-14, 1.00404092e-29, 1.15055615e-19],
       ...,
       [0.00000000e+00, 2.84248226e-30, 0.00000000e+00, ...,
        2.33119221e-27, 0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.27219885e-35, 0.00000000e+00, ...,
        7.74232158e-26, 0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 4.29581527e-23, 7.44888389e-30, ...,
        6.68497990e-17, 8.01279317e-30, 1.00000000e+00]], dtype=float32)

In [32]:
labels = ['A', 'A+', 'B', 'C', 'D', 'E', 'Fail']
Y_predict2 = pd.DataFrame(model.predict(test_X)).apply(lambda x:labels[np.argmax(x)],axis=1)
Y_predict2

22/22 [==============================] - 0s 2ms/step

0        A+
1        A+
2        A+
3        A+
4         A
       ...
695    Fail
696    Fail
697    Fail
698    Fail
699    Fail
Length: 700, dtype: object

In [33]:
test['prediction'] = Y_predict3
test

    s1  s2  s3  s4  s5  Total  Obtained  Percentage Grade prediction
0   95  81  84  98  81    500       439        87.8    A+         A+
1   87  95  86  83  98    500       449        89.8    A+         A+
2   96  86  82  81  90    500       435        87.0    A+         A+
3   90  96  92  98  83    500       459        91.8    A+         A+
4   87  80  85  80  86    500       418        83.6    A+          A
..  ..  ..  ..  ..  ..    ...       ...         ...   ...        ...
95  14  13  17  21   6    500        71        14.2  Fail       Fail
96  15   6   9  23  11    500        64        12.8  Fail       Fail
97   3  21  27   9  31    500        91        18.2  Fail       Fail
98  12   5   1  17  27    500        62        12.4  Fail       Fail
99   3  11  15  18  27    500        74        14.8  Fail       Fail

[700 rows x 10 columns]

In [35]:
test.iloc[200:].sample(60)

    s1  s2  s3  s4  s5  Total  Obtained  Percentage Grade prediction
4   50  51  55  52  53    500       261        52.2     C          C
5   65  64  60  63  65    500       317        63.4     B          B
80  46  43  47  41  46    500       223        44.6     D          D
91  58  56  57  51  55    500       277        55.4     C          C
81  53  53  58  54  54    500       272        54.4     C          C
15  27  18  11  24  13    500        93        18.6  Fail       Fail
17  26  28  16   6  23    500        99        19.8  Fail       Fail
5    3  13  19  26  14    500        75        15.0  Fail       Fail
62  68  65  62  63  67    500       325        65.0     B          B
64   2   3   3  23  29    500        60        12.0  Fail       Fail
56  42  47  48  48  40    500       225        45.0     D          D
46  13  14  26  12  20    500        85        17.0  Fail       Fail
95  37  38  35  33  37    500       180        36.0     E          E
27  43  46  40  43  46    500       218        43.6     D          D
26  60  63  66  67  65    500       321        64.2     B          B
70  15  23   6  21  14    500        79        15.8  Fail       Fail
3   61  66  64  61  63    500       315        63.0     B          B
15  34  38  38  38  34    500       182        36.4     E          E
39  38  34  38  37  36    500       183        36.6     E          E
27  54  54  56  57  55    500       276        55.2     C          C
7   56  54  53  55  51    500       269        53.8     C          C
8   31  27  19  22   2    500       101        20.2  Fail       Fail
52  37  34  34  36  35    500       176        35.2     E          E
35  27  11  27  30   0    500        95        19.0  Fail       Fail
70  45  44  44  44  41    500       218        43.6     D          D
4   66  67  64  65  63    500       325        65.0     B          B
29  30  25  29  19  27    500       130        26.0  Fail       Fail
95  14  13  17  21   6    500        71        14.2  Fail       Fail
46  61  64  67  62  64    500       318        63.6     B          B
31  43  46  46  42  45    500       222        44.4     D          D
76  34  34  36  34  35    500       173        34.6     E          E
70  54  58  50  57  52    500       271        54.2     C          C
42   6   7   4   4  13    500        34         6.8  Fail       Fail
61  52  50  50  51  55    500       258        51.6     C          C
3   11  12   7  23  25    500        78        15.6  Fail       Fail
86  40  43  44  42  41    500       210        42.0     D          D
25  66  68  66  67  66    500       333        66.6     B          B
86  55  55  57  57  51    500       275        55.0     C          C
22  55  53  54  51  57    500       270        54.0     C          C
9   12   8   8  24  26    500        78        15.6  Fail       Fail
38  12   6  12   7   3    500        40         8.0  Fail       Fail
41  51  56  55  58  50    500       270        54.0     C          C
65  33  35  33  33  38    500       172        34.4     E          E
60  60  61  65  66  66    500       318        63.6     B          B
69  68  61  60  63  63    500       315        63.0     B          B
56  67  61  62  62  68    500       320        64.0     B          B
74  47  40  48  42  46    500       223        44.6     D          D
94   5   7  12   7  31    500        62        12.4  Fail       Fail
78  15   1  29  15  31    500        91        18.2  Fail       Fail
5   52  57  58  57  51    500       275        55.0     C          C
84  37  38  33  34  36    500       178        35.6     E          E
61  62  68  60  68  68    500       326        65.2     B          B
71  35  38  33  35  35    500       176        35.2     E          E
64  35  36  35  33  38    500       177        35.4     E          E
62  52  50  54  55  53    500       264        52.8     C          C
93  64  62  68  60  66    500       320        64.0     B          B
35  64  62  63  68  67    500       324        64.8     B          B
89  26  22   8  31  11    500        98        19.6  Fail       Fail
56  56  54  54  52  51    500       267        53.4     C          C
42  37  37  36  36  37    500       183        36.6     E          E

In [36]:
test[test['Grade'] == test['prediction']]

    s1  s2  s3  s4  s5  Total  Obtained  Percentage Grade prediction
0   95  81  84  98  81    500       439        87.8    A+         A+
1   87  95  86  83  98    500       449        89.8    A+         A+
2   96  86  82  81  90    500       435        87.0    A+         A+
3   90  96  92  98  83    500       459        91.8    A+         A+
5   99  88  93  96  94    500       470        94.0    A+         A+
..  ..  ..  ..  ..  ..    ...       ...         ...   ...        ...
95  14  13  17  21   6    500        71        14.2  Fail       Fail
96  15   6   9  23  11    500        64        12.8  Fail       Fail
97   3  21  27   9  31    500        91        18.2  Fail       Fail
98  12   5   1  17  27    500        62        12.4  Fail       Fail
99   3  11  15  18  27    500        74        14.8  Fail       Fail

[695 rows x 10 columns]