In [1]:
import joblib

# Load the saved model from disk
model = joblib.load('my_model.pkl')

# Use the loaded model to make predictions
y_pred = model.predict(X_test)

NameError: name 'X_test' is not defined

In [2]:
import numpy as np
import pandas as pd
import joblib

In [5]:
g1 = pd.DataFrame(np.random.randint(80,100, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g2 = pd.DataFrame(np.random.randint(70,79, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g3 = pd.DataFrame(np.random.randint(60,69, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g4 = pd.DataFrame(np.random.randint(50,59, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g5 = pd.DataFrame(np.random.randint(40,49, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g6 = pd.DataFrame(np.random.randint(33,39, size=(800000,5)), columns = ["s1",'s2','s3','s4','s5'])
g7 = pd.DataFrame(np.random.randint(0,32, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])

df = pd.concat([g1,g2,g3,g4,g5,g6,g7])
print(len(df))
df = df.drop_duplicates()# get all unique records
print(len(df))
df.head()

1040000
203827

   s1  s2  s3  s4  s5
0  97  90  97  97  81
1  81  88  99  96  89
2  93  83  83  92  96
3  84  81  83  80  98
4  84  89  98  88  83

In [6]:
def grade(sb1, sb2, sb3, sb4, sb5):
    total = 500
    obtain = sb1 + sb2 + sb3 +sb4 + sb5
    perct = 100 * obtain / total
    grade =None
    
    if perct >=80:
        grade="A+"
    
    elif perct >=70:
        grade="A"
        
    
    elif perct >=60:
        grade="B"
        
    
    elif perct >=50:
        grade="C"
        
    
    elif perct >=40:
        grade="D"
        
    else:
        grade="fail"
        
    return total , obtain ,perct,grade
#     return total, obtain , per , grade

In [7]:
print(grade(70, 87, 66, 78, 78))

(500, 379, 75.8, 'A')

In [8]:
df[["Total","Obtained","Percentage","Grade"]] = df[["s1","s2","s3","s4","s5"]].apply(lambda x:grade(*x), axis=1, result_type='expand')
df

       s1  s2  s3  s4  s5  Total  Obtained  Percentage Grade
0      97  90  97  97  81    500       462        92.4    A+
1      81  88  99  96  89    500       453        90.6    A+
2      93  83  83  92  96    500       447        89.4    A+
3      84  81  83  80  98    500       426        85.2    A+
4      84  89  98  88  83    500       442        88.4    A+
...    ..  ..  ..  ..  ..    ...       ...         ...   ...
39995  30  30  18  26   7    500       111        22.2  fail
39996   4  19  20   9   5    500        57        11.4  fail
39997   2  30  27  25  29    500       113        22.6  fail
39998   2  14  29  14   2    500        61        12.2  fail
39999   3  15  14  19  10    500        61        12.2  fail

[203827 rows x 9 columns]

In [15]:
data = df[['Percentage']]

In [18]:
df[data]

ValueError: Boolean array expected for the condition, not float64